<a href="https://colab.research.google.com/github/lalit1511/Maths-Stats-using-python/blob/main/For_loop_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Basic Loop: Print numbers from 1 to 5:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
#Sum of Numbers: Calculate the sum of numbers from 1 to 10:
sum=0
for i in range(1,10):
  sum+=1
print("sum:",sum)

sum: 9

In [ ]:
#Print Even Numbers: Print all even numbers from 1 to 10:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
#Reverse a String: Print a string in reverse using a for loop:
string="Hello,world"
reversed_string=""
for char in string[::-1]:
  reversed_string += char
print(reversed_string)

dlrow,olleH

In [ ]:
#Prime Numbers: Check if a number is prime or not (from 1 to 20):
for num in range(1,21):
  if num>1:
    is_prime=True
    for i in range()

In [ ]:
for i in range(1, 6):
    print("Multiplication table for", i)
    for j in range(1, 11):
        print(i, "*", j, "=", i * j)
    print()

Multiplication table for 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table for 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication table for 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication table for 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
for i in range(1,6):
  print("Multiplication table for",i)
  for j in range(1,11):
    print(i,"*",j,"=",i*j)

  print()

Multiplication table for 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table for 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication table for 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication table for 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [9]:
#l = [2, 4, 6, 8, 7, 4] take out 7 from list using for loop
l = [2, 4, 6, 8, 7, 4]
new_list=[]
for i in l:
  if i != 7:
    new_list.append(i)

print(new_list)


l = [2, 4, 6, 8, 7, 4]
new_list = []

for item in l:
    if item != 7:
        new_list.append(item)

print(new_list)

[2, 4, 6, 8, 4]
[2, 4, 6, 8, 4]

In [10]:
#l = [2, 4, 6, 8, 7, 4] take out only 7 from list using for loop
l = [2, 4, 6, 8, 7, 4]
new_list=[]
for i in l:
  if i==7:
    new_list.append(i)

print(new_list)

[7]